# binaries
bin
deploy/apps/*.jar
deploy/downloads

# debugging/metrics
metrics
jrat.output
jrat.xml

# code signing
deployJar.xml
cobweb2.jks

# output files
cobweb_errors.log
initial_or_new_input_(reserved).xml
current_data_(reserved).cwtemp
/target/
dependency-reduced-pom.xml
